{% extends "mypage/base.html" %}

{% block script %}
{% endblock %}

{% block content %}
<div style="display:block; height:500px; margin-top:25px; margin-left:45%">
	<h3 style="">REGISTER</h3>

	<form method="POST" action="">
  {% csrf_token %}
		    <h4>{{form.username.label}}</h4>
        {{form.username}}
        <br>
        <h4>{{form.email.label}}</h4>
        {{form.email}}
        <br>
        <h4>{{form.password1.label}}</h4>
        {{form.password1}}
        <br>
        <h4>{{form.password2.label}}</h4>
        {{form.password2}}
        <br>
        <br>
        <input type="submit" value="Register Account"/>

	</form>
  <br>
	<h5>Already have an account? <a href="{% url 'login' %}">Login</a></h5>
	<script>

		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';

	</script>
</div>
{% endblock %}
